body {
  background-color: lavender;
}

h1 {
  text-align: center;
  color: rgb(31, 133, 99);
}

/* Button Style */
#buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: rgb(41, 41, 192);
  color: white;
  border-radius: 1em;
  padding: 8px;
}

button:hover {
  background-color: aliceblue;
  color: blue;
}

#breed-button,
#cat-images-button {
  display: block;
  margin: 0 10px;
}

#back-button-breed,
#back-button-cat-images {
  display: none;
}

/* main page style */
#maincontent {
  display: flex;
  flex-direction: column;
  padding-top: 0%;
  padding-left: 0%;
  justify-content: center;
  align-items: center;
}

#main-cat-image {
  height: 600px;
  margin-top: 20px;
  border-radius: 2em;
}

.breed-page,
.cat-images-page {
  display: none;
}

/* breed page style */
select {
  width: 25%;
  padding: 10px;
  font-size: 16px;
}

.card {
  background-color: rgb(148, 237, 199);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.card h2,
.card div {
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

#breed-name {
  font-size: 1.5em;
}

#breed-json {
  font-size: 1.5em;
}

#breed-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 2em;
}

#wiki-link:hover {
  color: rgb(242, 25, 61);
}

/* cat images page style */
.col {
  padding: 1%;
}

.col-lg {
  width: 300px;
  height: 400px;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.col-lg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2em;
}

.imgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}